/*!
 * Custom formatting for resLife.
 * Kim Merrill & Richard Yannow
 */
 
body {
	font-size: 14px;
}

h2 {
	text-align: center;
	margin-bottom: 8px;
}

label {
	font-size: 15px;
	margin-right: 6px;
	margin-left: 12px;
}

footer {
	margin-top: 50px;
	text-align: center;
}

.table th {
	font-size: 16px;
}

.well {
	padding: 36px 28px;
	width: 700px;
}

.control-group {
	margin-bottom: 30px;
}

.check {
	font-size: 13px;
	margin-left: 1px;
	margin-right: 8px;
}

.small-check {
	font-size: 12px;
	margin-left: 0px;
	margin-right: 1px;
}

.jello {
	width: 740px;
	margin-left: auto;
	margin-right: auto;
}

.center {
	text-align: center;
	margin-right: 20px;
}

.sides {
	margin: 25px 30px 10px 40px;
}

.padded-top {
	padding-top: 50px;
	padding-bottom: 20px;
}

#pic {
	background-image: url("dorm.jpg");
}

a#msg span {
	display: none;
}

a#msg:hover span {
	display: block;
	position: absolute;
	padding: 10px 10px;
	top: 130px;
	margin-left: 540px;
	width: 250px;
	text-align: center;
}