<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>resLife</display-name>
  <servlet>
    <description></description>
    <display-name>Rate</display-name>
    <servlet-name>Rate</servlet-name>
    <servlet-class>resLife.Rate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rate</servlet-name>
    <url-pattern>/rate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>resLife.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Room</display-name>
    <servlet-name>Room</servlet-name>
    <servlet-class>resLife.Room</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Room</servlet-name>
    <url-pattern>/room</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Suite</display-name>
    <servlet-name>Suite</servlet-name>
    <servlet-class>resLife.Suite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Suite</servlet-name>
    <url-pattern>/suite</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>